.SectionTitle {
    margin: 3.5rem 1rem;
    padding:  0 0 1rem;
    // cambiar padding a 0 en viewport desktop
    border-bottom: 1px solid gray;

    &-dark-line {
        
    }

    &-line{

    }
}