.SectionTitle {
    margin: 2rem 1rem 1rem;
    padding:  2rem 0;
    // // cambiar padding a 0 en viewport desktop

    &-dark-line {
        border-bottom: 1px solid white;
}

&-line{
        text-decoration: underline;
    }
}